@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  color: #E4F1FF;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  scroll-behavior: smooth;
}

.App {
  background-color: #181818;
  background-size: cover;
  scroll-behavior: smooth;
}