.Contact {
    background-color: #E4F1FF;
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.Contact h3 {
    color: #27005D;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6em;
    font-weight: 600;
    margin-bottom: 5%;
}