.Skills {
    background-color: #E4F1FF;
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.Skills h3 {
    color: #27005D;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6em;
    font-weight: 600;
}

.skills-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

.skills-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: 7%;
}

.skill-section {
    width: auto;
    border: 3px solid #9400FF;
    height: 30%;
    width: 15rem;
    background-color: #181818;
    border-radius: 50px;
    white-space: nowrap;
}

.skill-section h2 {
    color: #9400FF;
    font-size: 2em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    line-height: 2em;
}

.skillsButton {
    padding:0;
    margin:0;
    height:max-content;
    width: max-content;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}

.laptop {
    position: relative;
}

.laptop-img {
    width: 60%;
}

.skills-logos {
    position: absolute;
    bottom: 15%;
}

.skills-logos > img {
    height: 7%;
    width: 7%;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
